
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
	background-color:#f1f2f2 !important; 
	border-left: solid 1px #aeaeae;
	border-right: solid 1px #aeaeae;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
	background-color:#e0e0e0 !important;
	color:#6d6e71 !important;
	font-weight:bold;
}
.skin-blue .sidebar-menu>li.active>a{
	border-left:5px solid #aeaeae !important;
}

.skin-blue .sidebar a{
	font-size:15px;
	font-weight:bold;
}
.skin-blue .sidebar-menu>li>a{
	height: 80px !important;
}
.skin-blue .sidebar-menu>li>a>i{
	margin-top: 20px;
}
